<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
    >
    <description>AOP配置</description>
    <bean id="byd" class="td.learn.springcore.aop.practice8.Byd">

    </bean>

    <bean id="cheapRun" class="td.learn.springcore.aop.practice8.CheapStart">

    </bean>


    <bean id="cheapCarAspect" class="td.learn.springcore.aop.practice8.AspectCheapCar">
        <constructor-arg ref="cheapRun"/>
    </bean>


    <aop:config>
        <aop:aspect ref="cheapCarAspect">
            <aop:pointcut id="run" expression="execution(* td.learn.springcore.aop.practice8.ICar.run())"/>
                <aop:before pointcut-ref="run" method="runBefore"/>
        </aop:aspect>
    </aop:config>
</beans>